.main-body {
    &:nth-child(2n) {
        background-color: rgb(230,230,230);
    }

    .main-section {
        max-width: 1170px;
        width: 100%;
        padding: 40px 0 40px 48px;
        margin: 0 auto;
        .section-header {
            display: flex;
            align-items: center;
            font-size: 32px;
            font-weight: bold;
            color: #D1651A;
            fill: #D1651A;
            background-color: transparent;
            background-image: linear-gradient(to right, rgb(250, 153, 42) 0%, rgb(248, 0, 8) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .divider {
                width: 75px;
                height: 3px;
                background-color: orange;
                margin-left: 24px;
                background-image: linear-gradient(to right, rgb(250, 153, 42) 0%, rgb(248, 0, 8) 100%);
            }
        }
        .section-content {
            display: flex;
            justify-content: space-between;
            .section-copy {
                max-width: 600px;

                &.section-full {
                    max-width: none;
                    width: 100%;
                }
                .section-title {
                    font-size: 60px;
                    font-weight: bold;
                    color: rgba(5,95,183);
                    line-height: 1em;
                    margin-top: 12px;
                    font-weight: bold;
                    margin-bottom: 24px;
                }

                .team-member-section {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    gap: 16px;
                }
            }
            
            .section-image {
                img {
                    width: 400px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main-body {
        .main-section {
            padding: 40px 24px 0 24px;
            .section-header {
                font-size: 24px;
            }
            .section-content {
                flex-direction: column;
                .section-copy {
                    .team-member-section {
                        flex-direction: column;
                    }
                    .section-title {
                        font-size: 36px;
                    }
                }
                .section-image {
                    margin-top: 24px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}