.hero {
    background-image: url('/casino.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-top: 100px;

    .hero-content-background {
        width: 100%;
        height: 100%;
        padding: 10px 48px;
        background-color: rgba(1,36,83, 0.8);

        .hero-content {
            width: 100%;
            height: 100%;
            max-width: 1170px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .hero-header {
            font-size: 72px;
            line-height: 1em;
        }

        .hero-description {
            font-size: 24px;
            max-width: 700px;

            font-weight: 300;
        }

        .hero-cta {
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: bold;
            width: 220px;
            text-align: center;
            line-height: 1em;
            padding: 15px;
            border-radius: 5px;
            background-image: linear-gradient(to right, rgb(250, 153, 42) , rgb(248, 0, 8));
        }
    }
}

.main-body {
    &:nth-child(2n) {
        background-color: rgb(230,230,230);
    }

    .main-section {
        max-width: 1170px;
        width: 100%;
        padding: 40px 0 40px 48px;
        .section-header {
            display: flex;
            align-items: center;
            font-size: 32px;
            font-weight: bold;
            color: #D1651A;
            fill: #D1651A;
            background-color: transparent;
            background-image: linear-gradient(to right, rgb(250, 153, 42) 0%, rgb(248, 0, 8) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .divider {
                width: 75px;
                height: 3px;
                background-color: orange;
                margin-left: 24px;
                background-image: linear-gradient(to right, rgb(250, 153, 42) 0%, rgb(248, 0, 8) 100%);
            }
        }
        .section-content {
            display: flex;
            justify-content: space-between;
            .section-copy {
                max-width: 600px;

                &.section-full {
                    max-width: none;
                    width: 100%;
                }
                .section-title {
                    font-size: 60px;
                    font-weight: bold;
                    color: rgba(5,95,183);
                    line-height: 1em;
                    margin-top: 12px;
                    font-weight: bold;
                    margin-bottom: 24px;
                }

                .team-member-section {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    gap: 16px;
                }
            }
            
            .section-image {
                img {
                    width: 400px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: 50px;
        .hero-content-background {
            padding: 10px 24px;
            .hero-content {
                .hero-header {
                    font-size: 48px;
                }
                .hero-description {
                    font-size: 18px;
                }
            }
        }
    }

    .main-body {
        .main-section {
            padding: 40px 24px 0 24px;
            .section-content {
                flex-direction: column;
                .section-copy {
                    .team-member-section {
                        flex-direction: column;
                    }
                    .section-title {
                        font-size: 32px;
                    }
                }
                .section-image {
                    margin-top: 24px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}