footer {
    background-image: url('/footer-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: auto;

    .footer-content {
        background-color:  rgba(28,28,28, 0.95);

        .footer-inner {
            display: flex;
            justify-content: space-between;
            padding: 60px 40px;
            color: rgba(255,255,255,0.5);
            font-size: 20px;
            max-width: 1170px;
            margin: 0 auto;

            .footer-column {
                flex: 0 0 30%;
                max-width: 30%;
                display: flex;
                flex-direction: column;

                &.quick-link-column {
                    padding-left: 48px;
                }

                .footer-header {
                    color: white;
                    font-size: 32px;
                    font-weight: bold;
                    display: inline-block;
                    height: 85px;
                    line-height: 85px;
                }

                .quick-links {
                    li {
                        margin-top: 16px;

                        a {
                            color: inherit;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .contact-links {
                    li {
                        margin-top: 16px;

                        a {
                            color: inherit;
                            text-decoration: none;
                            display: flex;
                            align-items: flex-start;

                            &:hover {
                                text-decoration: underline;
                            }
                            .link-arrow {
                                margin-top: 5px;
                            }
                        }
                    }
                }
                .link-arrow {
                    margin-right: 12px;
                }
            }
        }

        .footer-logo {
            width: 100px;
            display: flex;
            align-items: center;
            font-size: 48px;
            font-weight: bold;
            color: white;
            

            img {
                height: 1.8em;
                margin-right: 18px
            }
        }

        .footer-mission-statement {
            margin-top: 16px;
        }
    }

    .footer-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    footer {
        .footer-content {
            .footer-inner {
                flex-direction: column;

                .footer-column {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 32px;

                    &.quick-link-column {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}