:root {
  font-family: "Yantramanav", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.orange {
  color: orange;
}

ul {
  list-style-type: none;
}

a {
  transition: color 0.2s ease-in-out;

  &:hover {
      color: orange !important;
      text-decoration: none !important;
  }
}